* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-face: 'redhat' , sans-serif;
}

html,
body {
    display: flex;
    background-color:hsl(20, 50%, 98%);
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: min(max(1rem, calc(0.5rem + 3.5vw)), 3.5rem);
}

h2 {
    font-size: min(max(1rem, calc(0.5rem + 2vw)), 2rem);
}

h3 {
    font-size: min(max(0.9rem, calc(0.2rem + 1.5vw)), 1.5rem);
}

h5 {
    font-size: min(max(0.8rem, calc(0.2rem + 1.1vw)), 1.5rem);
}

p {
    font-size: min(max(0.8rem, calc(0.2rem + 1.1vw)), 1rem);
}

span {
    font-size: min(max(0.8rem, calc(0.2rem + 1.1vw)), 1rem);
}

.btn{
    font-size: min(max(0.8rem, calc(0.2rem + 1.1vw)), 1rem);
}

ul li{
    font-size: min(max(0.8rem, calc(0.2rem + 1.1vw)), 1rem);
}

ul li a{
    font-size: min(max(0.8rem, calc(0.2rem + 1.1vw)), 1rem);
}

a{
    font-size: min(max(0.8rem, calc(0.2rem + 1.1vw)), 1rem);
}

img{
    width: 100%;
}

button:focus {
    outline: none;
}


.btn-bg-lightyellow {
    padding: 12px 0;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: hsl(71, 73%, 54%);
    --bs-btn-border-color: hsl(71, 73%, 54%);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: hsl(71, 73%, 54%);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
    --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.red-color{
    color: hsl(14, 86%, 42%);
}

.red-bg{
    background-color: hsl(14, 86%, 42%);
}

.bg-cream{
    background-color: #fcf8f5;
}


.product-list {
    min-width: 300px;
}

.product-list .card .main-image{
    width: 100%;
    aspect-ratio: 1;
}

.product-list .card .card-description{
    font-size: min(max(1rem, calc(0.2rem + 2vw)), 1.1rem);
}

.product-list .card .custom-add-btn{
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: max-content;
    border:1px solid hsl(14, 87%, 26%);
    border-radius: 30px;
    position: absolute;
}

.product-list .card .custom-add-btn:hover{
    background-color: white;
    width: max-content;
    border:1px solid hsl(14, 87%, 26%);
}

.product-list .card .custom-add-btn img{
    max-width: 20px;
}


.product-list .sidebar {
    height: max-content;
}

.product-list .sidebar ul li {
    border-bottom: 1px solid #cacaca;
}

.product-list .sidebar .icon-container img{
    max-width: 35px;
}

.product-list .sidebar ul li:last-child {
    border-bottom: none;
}

.product-list .sidebar ul li .custom-delete-btn{
    width: 15px;
    aspect-ratio: 1;
    padding: 0;
    border: none;
}

.product-list .modal{
    min-width: 280px;
}

.product-list .modal .cart-container .modal-icon{
    max-width: 35px;
}

.product-list .modal .image-container{
    max-width: 44px;
    aspect-ratio: 1;
}

@media (max-width: 575px) {
    .product-list{
        max-width: 350px;
        margin:0 auto;
    }

    .product-list .modal .cart-container{
        max-width: 370px;
    }
}